@font-face {
  font-family: "font-mustom";
  src: url("/icon-lib/font/font-mustom.eot");
  src: url("/icon-lib/font/font-mustom.eot?#iefix") format("embedded-opentype"),
    url("/icon-lib/font/font-mustom.woff") format("woff2"),
    url("/icon-lib/font/font-mustom.woff") format("woff"),
    url("/icon-lib/font/font-mustom.ttf") format("truetype"),
    url("/icon-lib/font/font-mustom.svg#font-mustom") format("svg");
}
.fm {
  font-family: "font-mustom";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fm-sq {
  width: 1em;
  height: 1em;
  text-align: center;
}
.fm-sq:before {
  display: inline-block;
  transform: translate3d(-0.125em, 0, 0);
}
.svg-icon {
  width: 2.375em;
  height: 2.375em;
  margin: 0.5em 1em 0;
  vertical-align: middle;
  display: inline-block;
}.fm-archive:before{content:'\78'}.fm-bars:before{content:'\79'}.fm-envelope:before{content:'\7a'}.fm-folder-open:before{content:'\7b'}.fm-home:before{content:'\7c'}.fm-search:before{content:'\7d'}.fm-sitemap:before{content:'\7e'}.fm-tag:before{content:'\7f'}.fm-tags:before{content:'\80'}.fm-user:before{content:'\81'}